﻿@model PasswordManager.Models.ApplicationDomain

@{
    ViewBag.Title = "Details";
    PasswordManager.Models.ApplicationPassword dummyModel = null;
}

<h2>Details</h2>
<style>
    h5.modal-title {
        font-size: 25px;
    }

    .feedback {
        color: red;
    }
</style>
<div>
    <h4>ApplicationDomain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(dummyParam => dummyModel.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(dummyParam => dummyModel.Password)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Passwords)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Password)</td>
                <td><a href="#" data-toggle="modal" data-target="#showPasswordModal" onclick="updateModalData('@item.UserName', '@item.Password')">Show Password</a></td>
            </tr>
        }
    </table>
</div>
<p>
    <a href="#" data-toggle="modal" data-target="#addPasswordModal">Add Password</a> |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="modal fade" id="addPasswordModal" tabindex="-1" role="dialog" aria-labelledby="addPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPasswordModalLabel">Add Password</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="newUserName">User Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newUserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="password">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password">
                            <div class="text-danger">Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="confirmPassword">Confirm Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirmPassword">
                            <div class="text-danger">Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="newKey">Key:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newKey">
                            <div class="text-danger">Required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="save()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showPasswordModal" tabindex="-1" role="dialog" aria-labelledby="showPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showPasswordModalLabel">Show Password</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="showPasswordForm">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="userName">User Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userName" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="encryptedPassword">Encrypted Password:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="encryptedPassword" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="keyPhrase">Key:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="keyPhrase" required>
                            <div class="text-danger">Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="decryptedPassword">Decrypted Password:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="decryptedPassword" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" form="showPasswordForm" class="btn btn-primary" onclick="showPassword()">Show</button>
            </div>
        </div>
    </div>
</div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script>
    var url = '@Request.Url.AbsoluteUri.Replace(Request.Url.PathAndQuery, string.Empty)/api/ApplicationPasswords'
    var currentDomainID = @Model.ID;
    $(document).ready(function () {
        $('#showPasswordModal').on('show.bs.modal', function () {
            $("#showPasswordModal #keyPhrase").val('');
            $('#decryptedPassword').val('');
            $("#showPasswordModal .text-danger").addClass('hide');
        })

        $('#addPasswordModal').on('show.bs.modal', function () {
            $("#addPasswordModal input").val('');
            $("#addPasswordModal .text-danger").addClass('hide');
        })
    });

    function updateModalData(userName, password) {
        $('#userName').val(userName);
        $('#encryptedPassword').val(password);
    }

    function showPassword() {
        $('#decryptedPassword').val('');
        var key = $('#keyPhrase').val();
        if (!key) {
            $('#keyPhrase + .text-danger').removeClass('hide');
            return;
        } else {
            $('#keyPhrase + .text-danger').addClass('hide');
        }
        var enPass = $('#encryptedPassword').val();
        var result = CryptoJS.AES.decrypt(enPass, key);
        var dePass = result.toString(CryptoJS.enc.Utf8)
        $('#decryptedPassword').val(dePass);
    }

    function save() {
        if (validateAddForm()) {
            var userName = $("#newUserName").val();
            var password = $("#password").val();
            var key = $("#newKey").val();
            var enPass = CryptoJS.AES.encrypt(password, key).toString();
            var payload = {
                UserName: userName,
                ApplicationDomainID: currentDomainID,
                Password: enPass,
            }
            $.post(url, payload, function () {
                location.reload();
            }).fail(function () {
                alert("error");
            });
            
        }
    }

    function validateAddForm() {
        var isValid = true;
        var password = $("#password").val();
        if (!password) {
            isValid = false;
            $('#password + .text-danger').removeClass('hide');
        } else {
            $('#password + .text-danger').addClass('hide');
        }

        var confirmPassword = $("#confirmPassword").val();
        if (!confirmPassword) {
            isValid = false;
            $('#confirmPassword + .text-danger').text('Required').removeClass('hide');
        } else if (confirmPassword != password) {
            isValid = false;
            $('#confirmPassword + .text-danger').text('Did not match').removeClass('hide');
        } else {
            $('#confirmPassword + .text-danger').addClass('hide');
        }

        var newKey = $("#newKey").val();
        if (!newKey) {
            isValid = false;
            $('#newKey + .text-danger').removeClass('hide');
        } else {
            $('#newKey + .text-danger').addClass('hide');
        }

        return isValid;
    }
</script>
